@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&display=swap");

.head-quote {
  font-family: "Roboto", sans-serif;
  margin-top: 22px;
  text-align: center;
}

.qoute-input {
  margin: auto;
  display: block;
  width: 400px;
  padding: 12px;
  font-family: "Roboto", sans-serif;
}
form {
  margin-top: 32px;
}
.btn-demo {
  margin: 25px auto;
  display: block !important;
  border-radius: 0px;
}

.alert-demo{
  margin: auto;
  display: block;
  width: 400px;
  margin-bottom: 26px;
  font-size: smaller;
}